export(lc_app_hide)
export(lc_app_show)
export(lc_app_start)
export(lc_app_status)
export(lc_app_stop)
export(lc_bookmark)
export(lc_bookmark_copy)
export(lc_bookmark_list)
export(lc_bookmark_text)
export(lc_bookmarks_clear)
S3method(as.data.frame,lc_bookmark)
S3method(as.data.frame,lc_bookmark_list)
S3method(print,lc_app_status)
S3method(print,lc_bookmark)
S3method(print,lc_bookmark_list)
